<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<!-- [INFO] User-friendly alternative “find” command. See “travis-install.sh” for details.

		[INFO] “xargs” required for running “fd”. xargs exists and its path added to “%PATH%”
		by default on AppVeyor:
		https://ci.appveyor.com/project/Kristinita/sashaappveyordebugging/builds/48896902#L32
		-->
		<package id="fd" />

		<!-- [NOTE] Use -ignoredependencies for HTML Tidy installation to AppVeyor
		https://github.com/majkinetor/au-packages/issues/75
		https://ci.appveyor.com/project/Kristinita/sashatidydebugging/build/1.0.12

		[NOTE] I didn’t find in official documentation, is required “-”
		before “ignoredependencies”, but judging by the examples on GitHub — yes.
		https://github.com/search?l=XML&q=installArguments%3D%22&type=Code
		-->
		<package id="html-tidy" version="5.6.0" ignoreDependencies="true" AllowDowngrade="true" />

		<package id="nodejs" />

		<!-- [INFO] PhantomJS for clear-console running -->
		<package id="phantomjs" />

		<package id="shellcheck" />
	</packages>
