[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
markdown = "*"
beautifulsoup4 = "*"
pymdown-extensions = "*"
pyembed-markdown = "*"
markdown-blockdiag = "*"
pip-review = "*"
pip-licenses = "*"
gitpython = "*"
bashate = "*"
mdx-video = "*"
pillow = "*"
"ruamel.yaml" = "*"
peru = "*"
pylint = "*"
pelican = "*"
